div.container
{
    margin-top: 20px;
}
div.ad-title {

    padding: 2em;
    background-size: cover;
    background-position:center center ;
}
div.ad-title h1 , div.ad-title p{
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0,0,0.5);

}

div.carousel-caption 
{
    text-shadow: 3px 3px 3px rgba(0, 0, 0,0.5);
}

.avatar {
    max-width : 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium{
    max-width : 64px;
    max-height: 64px;
}

.avatar-mini{
    max-width : 24px;
    max-height: 24px;
}
.twittes
{
    position: absolute;
    top: 100px;
    right: 16px;
    font-size: 18px;
}


section.pricing {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }







