{% extends 'base.html.twig' %}
{% block title %}
  Welcome!
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
  <div class="container mt-3">
    <div class="jumbotron">
      <h1 class="display-3" style="text-align:center">
       {% trans %}Start your business online{% endtrans %}
      </h1>
      <p class="lead" style="text-align:center">
        {% trans %}Save money and save time {% endtrans %}
      </p>
      <p class="lead" style="text-align:center">
      {% trans %}Click to Call{% endtrans %}
      <a href="tel:+33 07 83 35 36 19" class="btn btn-primary btn-lg">+33 07 83 35 36 19</a>
      </p>
     
      <hr class="my-4" />
  
      
      <p class="lead" style="text-align:center">
        <a class="btn btn-primary btn-lg" href="#" role="button">SARL</a>
        <a class="btn btn-primary btn-lg" href="#" role="button">SASU</a>
        <a class="btn btn-primary btn-lg" href="#" role="button">SAS</a>
        <a class="btn btn-primary btn-lg" href="#" role="button">SCI</a>
        <a class="btn btn-primary btn-lg" href="#" role="button">AUTO-ENTREPRISE</a>
      </p>
      
    </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
