{% include 'base.html.twig' %}
<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Base</h5>
            <h6 class="card-price text-center">49€<span class="period">/mois</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Statuts personnalisés</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Cerfa M0</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Assistance par email</li>
               
              <p >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Frais administratifs</p>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>
Publication de l’Annonce
Légale (entre 140€ et 200€)</li>
            
              
            </ul>
            <a href="{{ path('pai_base')}}" class="btn btn-block btn-primary text-uppercase">Sélectionner</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
            <h6 class="card-price text-center">149€<span class="period">/mois</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Statuts personnalisés</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Cerfa M0</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Assistance par email</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Immatriculation 100% en ligne</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Vérification et suivi du dossier
par un formaliste</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dépôt de votre dossier au Greffe</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Kbis par email</li>
              
              <p >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Frais administratifs</p>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>
Publication de l’Annonce
Légale (entre 140€ et 200€)</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Frais d’immatriculation 
au Greffe (environ 40€)
           

              
              
            </ul>
            <a href="{{ path('pai_plus')}}" class="btn btn-block btn-primary text-uppercase">Sélectionner</a>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Premium</h5>
            <h6 class="card-price text-center">199€<span class="period">/mois</span></h6>
            <hr>
            <ul class="fa-ul">
             <li><span class="fa-li"><i class="fas fa-check"></i></span>Statuts personnalisés</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Cerfa M0</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Assistance par email</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Immatriculation 100% en ligne</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Vérification et suivi du dossier
par un formaliste</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dépôt de votre dossier au Greffe</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Kbis par email</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Traitement EXPRESS (48H)</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Inscription au registre des
Bénéficiaires effectifs
</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Garantie anti-rejet du Greffe       </li>
              <p >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Frais administratifs</p>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>
Publication de l’Annonce
Légale (entre 140€ et 200€)</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Frais d’immatriculation 
au Greffe (environ 40€)
<br> <br>

              
            <a href="{{ path('pai_prem')}}" class="btn btn-block btn-primary text-uppercase">Sélectionner</a>
          </div>
        </div>
      </div>