{% extends 'base.html.twig' %}

{% block title %}
  Nos articles
{% endblock %}

{% block body %}

  <div class="container">
  
    <h1 class="my-3">
      Nos acctualité 
    </h1>

     <div class="twittes">  
    <h2>Nos derniers tweets</h2>
    <a class="twitter-timeline" href="https://twitter.com/ProjetStg" data-tweet-limit="3" data-width="399" ></a>
<script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
     <div class="row">  
    
      {% for ad in ads %}
      {% include 'ad/_ad.html.twig' %} 
      {% endfor %}
      
    </div>
     
    

  </div>
  
{% endblock %}
